body{
    background: rgb(15, 15, 15);
}

h1{
    color: yellow;
    text-align: center;
    font-size: 70px;
}

h2{
    color: rgb(66, 86, 141);
    text-align: center;
    font-size: 40px;
}

li{
    color: white;
    font-size: 15px;
}

b{
    color: orangered;
    text-align: center;
    font-size: 15px;
}

p{
    width: 100%; 
}

img{
    width: 10%;
    height: 10%;
}
